@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html,body
{
    font-family: 'permanent marker', cursive;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
}
video{
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 0;
    bottom: 0; */
    object-fit: cover;
}

#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
    background-color: rgba(0, 0, 0, 0.6);
}

#content {
    color: white;
    position: absolute;
    right: -2vw;
    bottom: 13vh;
    z-index: 1;
    line-height: 20px;
    transform: rotate(-50deg);
}

h1{
    font-size: 140px;
    color: white;
}

.triangle_bottom_right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100vh 50vw;
    border-color: transparent transparent rgba(66, 58, 58, 0.8) transparent;
    position: absolute;
    top: 0;
    right: 0;
}


#navbar {
    position: sticky;
    top: 0px;
    height: 0;
    z-index: 3;
}

.rectangle {
    height: 10vh;
    width: 100vw;
    background-color: rgba(30, 30, 30, 0.3);
}

#cClick {
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    padding: 10px 30px;
    background-color: rgba(66, 58, 58, 0.8);
    color: white;
    font-size: 20px;
    opacity: 0.8;
    border-radius: 10px;
    top: 1.9vh;
    left: 7vw;
}

#icon {
    position: absolute;
    height: 10vh;
    top: 0vh;
}


#about {
    text-align: center;
    padding: 25px;
    /* background: rgba(0, 0, 0, 0.8); */
    background-image: url(wp10302006-sukuna-domain-expansion-wallpapers.png);
}

#yujiImage {
    height: 350px;
    
}

#characters{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#yuji {
    width: 30vw;
    
}

#megumi {
    width: 30vw;
}

#nobara {
    width: 30vw;
}

p {
    color: white;
}

h3 {
    color: white;
}

#wiki {
    display: inline-block;
    border: 2px solid white;
    padding: 10px 30px;
    background-color: rgba(66, 58, 58, 0.8);
    color: white;
    font-size: 20px;
    opacity: 0.8;
    border-radius: 10px;
    margin: 35px;
}